<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- консольный вывод -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- файловый вывод -->
        <RollingFile name="File" fileName="logs/user-service-test.log"
                     filePattern="logs/user-service-test-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- логи приложения (INFO и выше) -->
        <Logger name="com.github.BlackThornLabs" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>
        <Logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>
        <Logger name="org.hibernate.SQL" level="DEBUG"/>

        <!-- логи Hibernate (SQL-запросы и параметры) -->
        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="File"/> <!-- Только в файл -->
        </Logger>
        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" additivity="false">
            <AppenderRef ref="Console"/>  <!-- Вывод в консоль -->
            <AppenderRef ref="File"/>     <!-- и в файл -->
        </Logger>

        <Logger name="org.hibernate" level="warn" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>